* {
    margin: 0;
    padding: 0;
    font-family: yekan-bakh;
}

@font-face {
    font-family: yekan-bakh;
    src: url("../font/YekanBakh-Medium.ttf");
}

body{
    background-color: #f3f4f6;

}
.wrapper {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: auto;
    display: flex;

}

.direction {
    width: 65.5%;
    height: auto;
    /* background-color: wheat; */
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.direction .title {
    width: 100%;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title .right {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.title .left {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.right svg {
    margin-left: 16px;
}

.right h2 {
    font-size: 40px;
    color: #334155;
    font-weight: 800;

}

.left a {
    font-size: 1.375rem;
    text-decoration: none;
    color: #65758c;
}

.left svg {
    margin-right: 8px;
}

.swiper-wrapper {
    width: 100%;
    height: auto;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}

.swiper-slide {
    max-width: 378px;
    min-width: 378px;
    height: auto;
    margin-left: 26px;
    border: 1px solid rgba(210, 214, 222, 0.6);
    border-radius: 0.5rem;
    margin-bottom: 30px;
}
.swiper-slide:hover{
    background-color: #FFFF;
}

.top {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 24px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.top div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.top div .top-right {
    width: 56px;
    height: 56px;
    margin: 0;
    background-color: #ffdc26;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    box-shadow: -12px 12px 24px 0px rgba(245, 158, 11, .2);
}

.top div .top-right svg {
    width: 30px;
    height: 21px;
}

.top div .top-left {
    width: 91px;
    height: 28px;
    margin: 0;
    font-size: 16px;
    border: 1px solid rgba(227, 230, 236, 1);
    border-radius: 0.25rem;
}

.top div .top-left svg {
    margin-left: 8px;
}

.top div .top-left span {
    color: #4e5968;
    margin-left: 6px;
    font-size: 11px;
}
.top a{
    color: #334155;
    font-size: 24px;
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 700;
}
.top a:hover{
    color: rgba(59, 130, 246, 1);
}
.top p{
    font-size: 16px;
    color: #95A0B1;
    font-weight:400;
    line-height: 1.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits text to 3 lines */
    -webkit-box-orient: vertical; /* Required for -webkit-line-clamp to work */
    overflow: hidden;
}
.bottom{
    padding: 16px 32px;
    box-sizing: border-box;
    border-top: 1px solid rgba(236, 238, 239, 1);
}
.bottom a{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: #3b82f6;
    font-size: 16px;
}
.bottom a:hover{
    cursor: pointer;
    color: #000;
}
